rdkit-pypi
# tmap?
mhfp
# hdbscan --> See slim.Dockerfile why this is disabled
scikit-learn
numpy
flask==1.1.4
markupsafe==2.0.1
flask-smorest
flask-cors
flask-caching
umap-learn
requests
selfies
git+https://github.com/rdkit/mmpdb.git
# fcd?
# keras
# tensorflow-gpu
# git+https://github.com/jrwnter/cddd.git@dev
# git+https://github.com/jrwnter/mso.git
# Switch back to original implementation when https://github.com/BenevolentAI/MolBERT/pull/9 is merged
# git+https://github.com/puehringer/MolBERT.git@mp/add_manifest_in
# git+https://github.com/aspuru-guzik-group/chemical_vae.git
# git+https://github.com/BenevolentAI/MolBERT.git